/* img {
  width: 1000px;
} */

body {
  background-color: wheat;
}

.profile {
  background-color: aquamarine;
  width: 300px;
}

.profile div {
  position: absolute;
  border: 1px solid salmon;
  width: 300px;
  height: 115px;
  background-color: aquamarine;
  z-index: 2;
}

.profile div:hover {
  background-color: salmon;
  margin-left: 300px;
  transition: 1s ease;
}

a {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s;
}

a:hover {
  background-color: orange;
  border: 5px solid purple;
}

.slider:nth-child(1) {
  animation: slideIn 1s;
}

div {
  width: 100px;
  height: 100px;
  background-color: purple;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    background-color: purple;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: orange;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: palevioletred;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: salmon;
    left: 0px;
    top: 0px;
  }
}

@keyframes image {
  from {
    background-image: url("images/download.jpg");
  }

  to {
    background-image: url("images/IMG_3405.jpg");
  }
}

.images {
  animation: image 5s;
  animation-iteration-count: infinite;
  height: 1000px;
  width: 500px;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Keyframes animation */
@keyframes slideRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  nav ul {
    width: 100px; /* Adjust width as needed */
    position: relative;
    top: 0;
    right: 480;
    height: 100%;
    flex-direction: column; /* Make it vertical */
  }
  ul {
    right: 100%;
  }

  nav li {
    float: none; /* Remove float for vertical layout */
  }
  nav {
    position: absolute;
    height: 2000px;
  }
}
